/* src/pages/UserPage.css */
.user-container {
    padding: 20px;
  }
  
  .user-container h1,
  .user-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .user-container p {
    font-size: 1.25rem;
  }
  
  .user-container .list-group-item {
    font-size: 1.25rem;
  }
  